[submodule "com.fresto.noti/fresto-events"]
	path = com.fresto.noti/fresto-events
	url = https://github.com/owlab/fresto-events.git
[submodule "fresto_event"]
	path = fresto_event
	url = https://github.com/owlab/fresto-events.git
